//变量
@font-black: #888;

/*reset*/
html {
  color: @font-black;
  font-size: 16px;
  background: rgb(245, 245, 245);
}

a {
  text-decoration: none;
  color: @font-black;
}

html, body {
  padding: 0;
  margin: 0;
}

.clearfix {
  &:before, &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.page {

  header {
    position: relative;
    background: rgb(147, 212, 217);
    .def(@height:4.5rem) {
      height: @height;
      line-height: @height;
      color: #fff;
    }
    a {
      .def;
      float: left;
      padding:0 .5rem;
    }
    h1 {
      .def;
      margin: 0;
      text-align: center;
    }
  }

  nav {
    display: table;
    width: 100%;
    height: 3em;
    a {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      font-weight: bold;
      border-bottom: 3px solid transparent;
      &.active, &:active {
        border-color: green;
      }
    }
  }

  .banner {
    height: 100px;
  }
  .block {
    background: #fff;
    border-bottom: 10px;
    padding: 10px;
  }

}