/*字体图标*/
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1458138035_1683109.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1458138035_1683109.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/font_1458138035_1683109.woff') format('woff'), /* chrome、firefox */ url('//at.alicdn.com/t/font_1458138035_1683109.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/font_1458138035_1683109.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont";
  font-style: normal;
}

//变量
@font-black: #575757;

/*reset*/
html {
  color: @font-black;
  font-size: 16px;
  background: rgb(245, 245, 245);

}

a {
  text-decoration: none;
  color: @font-black;
}

html, body {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/*util*/
.clearfix {
  &:before, &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.page-header {
  @H: 4rem;
  position: relative;
  background: rgb(147, 212, 217);
  > h1 {
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: @H;
    font-size: 1.5rem;
    color: #fff;
  }
  > a {
    position: absolute;
    left: 1rem;
    top: 0;
    height: @H;
    line-height: @H;
    color: #fff;
  }
}

.page-nav {
  display: table;
  width: 100%;
  height: 3em;
  background: #fff;
  a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    border-bottom: 3px solid transparent;
    &.active {
      border-color: green;
    }
  }
}

.page-banner {
  width: 100%;
  img {
    display: block;
    width: 100%;
  }
}

.page-tags {
  list-style: none;
  background: #fff;
  padding: 1rem;
  margin: 0;
  display: flex;
  > li {
    border-bottom: 1px solid #ddd;
    flex-grow: 1; /*显示定义分配比例*/
    text-align: center;
    line-height: 1.5;
    padding-bottom: 1rem;
    i {
      font-size: 2rem;
    }
  }
}

.page-column {
  list-style: none;
  background: #fff;
  padding: 1rem;
  margin: 0;
  margin-bottom: 1rem;
  display: flex;
  > li {
    border-right: 1px solid #ddd;
    flex-grow: 1; /*显示定义分配比例*/
    text-align: center;
    &:last-child {
      border-right: none;
    }
    img {
      display: block;
      width: 100%;
    }
  }
}

.page-card {
  background: #fff;
  margin-bottom: 1rem;
  padding: 0 1rem;

  > .title {
    .clearfix;
    border-bottom: 1px solid #ddd;
  }
  > .body {
    .clearfix;
    dl{
      display: flex;
      margin-right:0;

      dt{
        width:120px;
        height:110px;
        img{
          border:1px solid orange;
          box-sizing: border-box;
          width:100%;
          height:100%;
        }
      }
      dd{
        flex-grow: 1;
        margin-left:1rem;

        display: flex;
        flex-direction:column;
        a{
          flex-grow: 1;
          background: #ddd;
          &:first-child{
            margin-bottom: 1rem;
          }

          display: flex;
          justify-content:center;
          align-items:center;
        }
      }
    }

  }
}
